@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 96%;
    --foreground: 220 9% 10%;
    --card: 220 13% 100%;
    --card-foreground: 220 9% 10%;
    --popover: 220 13% 100%;
    --popover-foreground: 220 9% 10%;
    --primary: 261 51% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 9% 10%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 261 51% 50%;
    --chart-1: 261 51% 50%;
    --chart-2: 174 100% 29%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 13% 10%;
    --foreground: 0 0% 98%;
    --card: 220 13% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 261 51% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 18%;
    --muted-foreground: 220 9% 65%;
    --accent: 174 100% 39%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 261 51% 60%;
    --chart-1: 261 51% 60%;
    --chart-2: 174 100% 39%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
